<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Bartosz Brożek">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="{{ asset("assets/css/bootstrap.min.css") }}" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{{ asset("assets/css/custom.css") }}" rel="stylesheet" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="{{ asset("assets/js/bootstrap.min.js") }}"></script>
</head>

<body>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead">
        <div class="inner">
            <nav class="navbar navbar-expand-lg bg-transparent">
                <a class="navbar-brand" href="#">Facebook Automatization</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if app.user != null %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('facebook_auth') }}">Facebook Authorization <span
                                            class="sr-only"></span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Automatization
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('pages_automatization') }}">Pages</a>
                                    <a class="dropdown-item" href="#">Other stuff</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">More stuff to come</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if app.user == null %}
            {% block authpage %}{% endblock %}
        {% else %}
            {% block body %}{% endblock %}
        {% endif %}
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Made by Bartosz Brożek</p>
        </div>
    </footer>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
